*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

:root {
    --bgColor: #F3F8FF;
    --primaryColor: #8EC3B0;
    --baseVariant: #FFFFFF;
    --headerColor: #8EC3B0;
    --databgColor: #F3F8FF;
    --notebgColor: #FFFFFF;
    --displayColor: #FFFFFF;
    --cardHoverBgColor:#EA9ABB;
    --textColor: #333333;
    --dataFontSize: 2rem;
    --hederFontSize: 20px;
    --headerFontfamily: "Cardo", serif;
    --noteFontfamily: "Handlee", cursive;
}


.darkmode{
    --bgColor:#211832;
    --primaryColor:#A594F9;
    --baseVariant:#F5EFFF;
    --headerColor:#CDC1FF;
    --databgColor: #A594F9;   
    --notebgColor: #CDC1FF;
    --displayColor: #CDC1FF;
    --cardHoverBgColor:#8000ff;
    --textColor:#FFD369;
    --dataFontSize:2rem;
    --hederFontSize: 20px;
    --headerFontfamily: "Cardo", serif;
    --noteFontfamily:"Handlee", cursive;
}

body{
    background-color: var(--bgColor);
}

/* Start of the toogle bar */
#theme-switch{
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--baseVariant);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.3s ease;

}

#theme-switch:hover {
    transform: scale(1.1);
}

#theme-switch svg {
    fill: var(--primary-color);
    transition: fill 0.4s ease, opacity 0.4s ease;
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

.container{
    display: grid;
    grid-template-columns: repeat(5,minmax(300px,1fr));
    grid-template-rows: repeat(10,minmax(65px,1fr));
    gap: 10px;
    margin: 5px;
    padding: 5px;
}

.webpageName{
    color: var(--textColor);
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonArea{
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promptArea{
    color: var(--textColor);
    background-color: var(--piramryColor);
    grid-area: 2 / 2 / 6 / 5 ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.promptAreaDisplay{
    background-color: var(--displayColor);
    grid-area: 2 / 2 / 6 / 5 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    gap: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    
}

.hexaArea{
    background-color: var(--piramryColor);
    grid-area: 2 / 1 / 6 / 2;
}

.binaryArea{
    background-color: var(--piramryColor);
    grid-area: 2 / 5 / 6 / 6;
}

.eventKey{
    background-color: var(--piramryColor);
    grid-area:  6 / 1 / 11 / 2;
}

.eventLocation{
    background-color: var(--piramryColor);
    grid-area:  6 / 2 / 11 / 3;
}

.eventCode{
    background-color: var(--piramryColor);
    grid-area:  6 / 3 / 11 / 4;
}

.eventCodeNumber{
    background-color: var(--piramryColor);
    grid-area:  6 / 4 / 11 / 5;
}

.keyType{
    background-color: var(--piramryColor);
    grid-area:  6 / 5 / 11 / 6;
}

.card{
    padding: 3px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
  
  /* Ensures the element uses its own space for transforms */
    position: relative; 
    
}

.card:hover{
    background-color: var(--cardHoverBgColor);
    transform: translateY(-10px) scale(1.02); 
  
  /* 3. New, larger shadow for an 'elevated' look */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}

.header{
    height: 20%;
    background-color: var(--headerColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: var(--hederFontSize);
    font-family: var(--headerFontfamily);
}

.data{
    height: 60%;
    background-color: var(--databgColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: var(--dataFontSize);
}

.note{
    height: 20%;
    background-color: var(--notebgColor);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--noteFontfamily);
    font-weight: bold;
    padding: 5px;
}